body {
	background-color: #fff;
	color: #636363;
}
.preload,
.preload-manage {
	background-color: #fff;
}

#table-page #table-wrap .new-intro {
    background-color: rgba(25,96,174,0.6);
    color: #fff;
}

.sharing form input[type=email] {
	background-color: rgba(0,153,204,0.3);
}
.sharing form input[type=email] {
	background-color: rgba(255,255,255,0.8);
	border-top: 1px solid #003f87;
	border-bottom: 1px solid #003f87;
	color: #003f87;
	&::placeholder {
		color: rgba(0,63,135,0.6);
	}
}
.sharing form input[type=submit]:hover {
	background-color: #82c33a;
}
.sharing form .share-note {
	background-color: rgba(0,0,0,0.3);
}
.sharing h2.edit-share,
.sharing form.edit-user,
.sharing form .share-note {
	color: #fff;
}

.sharing form p,
#table-page #project-wrap .sharing h1 {
	color: #fff;
	margin-bottom: 0.5em;
}

// anchor on current_project_not_found.php
a.go {
	color: #fff;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
// primary navigation
nav > ul li > a,
a.logout {
	color: #fff;
	background-color: #636363;
	&:hover {
		background-color: #313131;
	}
}
// page number tabs
.tab-links li input {
	background-color: #7492b1;
	color: #fff;
	&:hover {
		background-color: #fff;
		color: #7492b1;
		border: 1px solid #636363;
	}
}
.tab-links li.active input {
	color: #7492b1;
	background-color: #fff;
	border: 1px solid #636363;
}








//hyperlinks
ul#sortable li.pg1, 
ul#sortable li.pg3, 
ul#sortable a.project-links,  
ul#static-sort li.pg1, 
ul#static-sort li.pg2, 
ul#static-sort li.pg3, 
ul#static-sort a.project-links {
	color: #0000ff;
	background-color: #fff;
	text-decoration: none;
	&:hover {
		background-color: #fff;
		text-decoration: underline;
	}
}

// static section on edit_searches.php
ul#sortablesearch li.static {
	background-color: rgba(83,171,233,0.24);
	// color: #fff;
}

// project notes
#table-page #project-wrap .project-details .project-notes {
	background-color: rgba(255,255,255,0.2)
}



// background of my_projects bars 
#table-page #project-wrap .review-project {
	background-color: #7492b1;
	&:hover {
		background-color: #e89e77;
		color: #fff;
	}
}
#table-page #project-wrap .review-project.active {
	background-color: #e89e77;
	color: #fff;
	&:hover {
		background-color: #7492b1;
		color: #636363;
	}
}
.project-details { // my_projects -> project details background
	// background-color: rgba(0,153,204,1);
	background-color: #e89e77;
}









#edit-order-page #edit-order-wrap a.op i.fa-edit, 
#edit-order-page #edit-order-wrap a.op i.fa-sort,
#edit-order-page #edit-order-wrap a.op i.fa-fill-drip, 
#edit-order-page #edit-order-wrap a.op i.fa-house-user, 
#edit-order-page #edit-order-wrap a.op i.fa-list-ol {
	color: rgba(0,63,135,1);
	&:hover {
		color: #fff;
	}
}



.project-greeting {
	color: #003f87;
}
// inner_nav - homepage
ul.inner-nav li a {
	color: #0000ff;
	&:hover {
		color: #dee0e1; // orange

	}
}
.project-details ul.inner-nav { // inner_nav projects page

	a i.fa-info-circle,
	a i.fa-user-friends,
	a i.fa-minus-circle {
		color: #fff;
			&:hover {
			color: rgba(0,63,135,1);
		}	
	}
	a i.fa-minus-circle:hover {
		color: red;
	}

	form {
		display: inline;
		a i.fa-home,
		a i.fa-edit,
		a i.fa-sort,
		a i.fa-fill-drip,
		a i.fa-info-circle,
		a i.fa-user-friends,
		a i.fa-arrows-alt {
			color: #0000ff;
			text-decoration: none;
			transition: all 0.2s ease;
			&:hover {
				color: #dee0e1;
			}
		}
	}
}
.project-details ul.inner-nav li a {
// inner_nav projects page needed bc of diff color bkg
	&:hover {
		color: #dee0e1;
	}
}


ul.inner-nav li.project-name span.attn {
	color: red;
}
















.tab-links a,
.tab-links a.project-link,
#table-page #project-wrap a.my-nav  {
	color: rgba(0,63,135,1);
	&:hover {
		//color: rgba(0,63,135,1);
	}
}
.tab-links a.project-link:hover {
	color: rgba(0,63,135,1);
}
// #table-page #project-wrap .project-details a i.fa-minus-circle {
// 	color: rgba(0,63,135,1);
// }

// delete page
#edit-delete-page #delete-form input[type=text] {
	background-color: rgba(255,255,255,0.6);
	border-bottom: 1px solid red;
}

#edit-content-page #edit-wrap #tab1,
#edit-content-page #edit-wrap #tab2,
#edit-content-page #edit-wrap #tab3 {
			background-image: url("_images/floral-edit.jpg");
			background-repeat: repeat;
			background-attachment: fixed;
}
// edit hyperlinks
#edit-content-page #edit-wrap a.project-links {
	background-color: rgba(222,44,13,0.5);
	&:hover {
		background-color: rgba(222,44,13,0.9);
	}
}
// + icon inside empty links
ul#static-sort a.project-links.edit-shim {
	color: rgba(255,255,255,0.5);
}
#edit-content-page #edit-wrap {
	// background-color: rgba(255,0,0,0.16);
}
#edit-order-page #edit-order-wrap p.dnd-title a {
	color: #003f87;
	&:hover {
		color: #003f87;
	}
}

// add a note
ul#bottom-search.logged li:last-child {
	background-color: #7492b1;
}
.project-notes li:nth-child(odd) {
	background-color: #fff;
	color: #0000ff;

}
.project-notes li:nth-child(even) {
	background-color: #ffff01;
	color: #0000ff;	
}
.project-notes li .sec.note-url {
	color: #636363;
}
#sortanote li span.norm-copy,
#sortanote li span.input-copy {
	color: #636363;
}
#sortanote li a.note-link {
	color: #0000ff;
	text-decoration: none;
	&:hover {
		color: #0000ff;
		text-decoration: underline;
	}
}

a#add-note {
	color: #fff;
	text-decoration: none;
  &:hover {
    text-decoration: underline;
    background-color: inherit;
  }
}
.project-notes li a.deletenote {
	color: #636363;
}
.project-notes li:nth-child(even) a.deletenote {
	color: #636363;
	&:hover {
		text-decoration: underline;
	}
}
#edit-deets {
	background-color: rgba(0,153,204,1);
	color: #fff;
	.btn-wrap a.cancel-deets {
		background-color: rgba(11,85,150,1);
		&:hover {
			background-color: rgba(15,121,214,1);
		}
	}
}
li.google {
	background-color: #9bc0e6;
	color: #636363;
}
li.url {
	background-color: #b2cbe4;
	::placeholder {
		color: #313131;
	}
}
li.bing {
	background-color: #cad6e2;
}
li.reference {
	background-color: #dee0e1;
}
li.youtube {
	background-color: #dee0e1   ;
}
#google,
#url,
#bing,
#reference,
#youtube {
	color: #636363;
	a.go-a {
	background-color: #efefef;
	color: #636363;
	border-radius: 2px;
	border: 1px solid #636363;
		&:hover {
		background-color: #c2c2c2;
		}	
	}
	input[type=text] {
		background-color: #fff;
		// color: rgba(49,49,49,1);
		&::placeholder {
			color: rgba(185,187,189,1);
		}
	}
}
footer {
	background-color: rgba(43,61,80,1);
}
footer button#toggle-contact-form:hover {
	background-color: rgba(0,0,0,0.2);
}