footer {
  // line-height: 3em;
  width: 100%;
  // height: 400px;
  background-color: #000;
  color: white;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
  flex: 1;
   p.form-note {
    width: 100%;
    max-width: 400px;
    margin: 1em auto;
    text-align: left;
    line-height: 1.5em;
    text-align: justify;
  } 
  button#toggle-contact-form {
    background: none;
    border: none;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 5px;
    background-color: inherit;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    margin: 0 auto;
      &:hover {
        text-decoration: none;
        cursor: pointer;
        background-color: #313131;
        border: 1px solid #000;
      }
      &:focus {
      outline: 0;
      } 
      &.active {
        border-bottom: 1px dotted #808080;
        width: 96%;
        max-width: 400px;
        text-align: center;
      }
      .close-left {
        padding-left: 70px;
        padding-right: 30px;
      }
      .close-right {
        padding-left: 30px;
        padding-right: 70px;
      }
  }
  form#contactForm {
    width: 96%;
    max-width: 650px;
    margin: 1.5em auto 5em auto;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        .send-items {
          display: flex;
          align-items: center;
        }
      }
    }
    label {
      display: block;
      margin-bottom: .5em;
    }
    input {
      margin-bottom: 20px;
      margin-top: 5px;
    }
    input#sendersname,
    input#email {
      height: 1.5em;
      width: 100%;
      max-width: 650px;
      font-size: 1.2em;
      font-family: 'Architects Daughter', Tahoma, sans-serif;
      text-align: center;
      
    }
    textarea#comments {
      height: 6em;
      width: 100%;
      max-width: 650px;
      margin-top: .2em;
      margin-bottom: .2em;
      font-size: 1.2em;
      font-family: 'Architects Daughter', Tahoma, sans-serif;
      resize: none;
    }
    input#sendersname,
    input#email,
    textarea#comments {
      background-color: rgba(255,255,255,0.2);
      color: #fff;
      outline: none;
      border: none;
      // border-top: 1px solid #ccc;
      // border-bottom: 1px solid #ccc;
      border-top: 1px solid transparent;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid transparent;
      border-left: 1px solid #ccc;
      padding: 1em;
      // transition: all 0.5s ease;
      transition: background-color 0.3s ease, border-top 0.8s ease, border-right 0.8s ease, border-bottom 0.8s ease, border-left 0.8s ease;
      &:hover {
        background-color: rgba(255,255,255,0.1);
      }
      &:focus {
        background-color: transparent;
        border-top: 1px solid #ccc;
        border-right: transparent;
        border-bottom: 1px solid #ccc;
        border-left: transparent;        
      }
    } 
    input#emailBob {
      // display: inline-block;
      float: left;
      width: 150px;
      padding: 10px;
      // margin: 10px 0;
      text-align: center;
      // border-radius: 3px;
      border: 1px solid #233851;
      background-color: #565656;
      color: #fff;
      cursor: pointer;
      outline: none;
      transition: all 0.2s ease;
      &:hover {
        background-color: #82c33a;
        color: #fff;
      }
      &:active, &:focus {
        outline: none;
        outline-style: 0;
      }     
    }

    #msg {
      margin-top: 0.75em;
      width: 100%;
      .alert-warning {
        margin-bottom: 0.5em;
        border-radius: 5px;
        padding: 0.75em;
        font-size: 1em;
        color: #313131;
        background-color: #ffdddd;
        border: 1px solid #ff5a5a;
      }
      .alert-success {
        margin-bottom: 0.5em;
        border-radius: 5px;
        padding: 0.75em;
        font-size: 1em;
        color: #fff;
        background-color: #82c33a;
        border: 1px solid #45661f;
      }
    }

  }

  button#confirm {
    // float: left;
    display: block;
    margin-top: 10px;
    max-width: 300px;
    padding: 10px 12px;
    // border-radius: 8px;
    border: 1px solid #950808;
    background: #ba2222;
    color: #fff;
    cursor: pointer;
    &:hover {
      background: #ba2222;
      color: #fff;
      cursor: default;
    }
    &:active, &:focus {
      outline: 0;
      outline-style: 0;
    }
  }

  // button.enable-submit {
  //   display: none;
  // }
  // .g-recaptcha {
  //   margin-top: 10px;
  // }

  input#send {
    // display: inline;
    margin-right: 1em;
    float: left;
    margin-top: 10px;
    max-width: 300px;
    // padding: 10px 20px;
    padding: 0.5em 1em;
    // border-radius: 8px;
    border: 1px solid #206311;
    background: #2cb20c;
    color: #fff;
    cursor: pointer;
    &:hover {
      background: #278111;
      color: #fff;
    }
    &:active, &:focus {
      outline: 0;
      outline-style: 0;
    }
  }
  span#status {
    color: #fff;
    margin-left: 1.5em;
  }
  h2.successmsg {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
  }

  // .display {
  //   display: none;
  // }
  .footer-link {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  p.copyright {
    display: block;
    width: 90%;
    text-align: right;
    // line-height: 8em;
    margin-top: 6em;
    margin-bottom: 4em;
    font-size: 12px;
    color: #808080;
    a.eb {
      text-decoration: none;
      color: inherit;
      transition: color 0.15s ease;
      &:hover {
        color: rgba(178,178,178,1);
      }
    }
  }
}
div#success-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  span.success-msg {
    font-family: 'Architects Daughter', Tahoma, sans-serif;
    font-size: 1.5em;
    line-height: 1.2em;
    padding: 50px;
    text-align: center;
    background-color: rgba(47,126,25,0.9);
    border-radius: 8px;
    color: #fff;
    border: 3px solid #fff;
    width: 90%;
    max-width: 400px;
  }
}

@media screen and (max-width: 500px) {
  footer p.form-note {
    text-align: center;
    padding: 0em 0.5em;
  }
  footer button#toggle-contact-form {
      .close-left {
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
      .close-right {
        padding-left: 0.5em;
        padding-right: 0.5em;
      }    
  }
}

@media screen and (max-width: 430px) {
  footer {
    // #email-bob {
    //   width: 80%;
    //   max-width: 80%;
    // }
    form#contactForm {
      width: 96%;
      max-width: 96%;
      // max-width: 420px;
      input#sendersname,
      input#email {
        height: 30px;
      }
    }
    button#toggle-contact-form {
      display: block;
      padding: 8px 0px;
      margin: 0 auto;
      width: 98%;
      max-width: 400px; 
      &:hover {
        background-color: inherit;
        border: 1px solid transparent;
      }
      span.tiny-mobile {
        display: none;
      }
      .fa-star {
        display: none;
      }
    }
  }
}


