#landing-bkg {
	width: 100%;
	height: 100%;
	height: 100vh;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -999;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	img.stretch {
		width: 100%;
	}
}
#landing {
	width: 100%;
	height: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	line-height: 1.5em;
	& > .visitor1 > form,
	& > form {
		width: 96%;
		max-width: 450px;
		padding: 1.2em 2em;
		background-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgba(255,255,255,0.06);
		border: 1px solid #fff;
    	box-shadow: 0px 0px 18px 8px rgba(255, 255, 255, 0.18);
		.name {
			display: flex;
			justify-content: space-between;
			align-items: center;
			input {
				width: 48%;
			}
		}
		& > h1 {
			font-size: 1.2em;
			text-align: center;
			display: block;
			margin: 0 auto 1em;
		}
		& > p {
			margin-bottom: 0.5em;
		}
		input {
			height: 2.5em;
			width: 100%;
			// line-height: 1.5em;
			margin-bottom: 1em;
			padding: 0.5em;
			text-align:center;
			font-size: 1em;
			font-family: Tahoma, Calbri, Helvetica, sans-serif;
			// background-color: rgba(0,0,0,0.2);
			background-color: rgba(255,255,255,0.05);
			// background-color: rgba(52, 78, 230, 0.1);
			color: #fff;
			color: -internal-light-dark(#7999b8, white) !important;
			border-top: 1px dotted #fff;
			border-right: none;
			border-bottom: 1px dotted #fff;
			border-left: none;
			transition: background-color 0.2s ease;
			&::placeholder {
				color: rgba(255,255,255,0.75);
			}
			&:focus,
			&:active {
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
				outline: none;
			}
			&:hover {
				background-color: rgba(255,255,255,0);
			}
		}
		// front login autofill
		// stop Chrome from black fill
		input:-webkit-autofill,
		input:-webkit-autofill:hover, 
		input:-webkit-autofill:focus, 
		input:-webkit-autofill:active  { // bkg color
		    // -webkit-box-shadow: 0 0 0 30px #3c3c3c inset !important;
		    // spring
		    // -webkit-box-shadow: 0 0 0 30px #7999b8 inset !important;
		    -webkit-text-fill-color: white !important;
		    // font: 400 1em 'Roboto';
		}
		// input:-webkit-autofill { // text color
		//     -webkit-text-fill-color: white !important;
		// }
		.showpassword-wrap {
			margin-bottom: 1em;
			margin-top: -0.5em;
			width: 100%;
			text-align: right;
			font-size: 0.8em;

			div#showLoginPass,
			div#showSignupPass {
				background-color: transparent;
				color: #fff;
				border: none;
				cursor: pointer;
				outline: 0;
				i.far {
					margin-right: 0.5em;
				}
			}
			div#showLoginPass.showPassOn,
			div#showSignupPass.showPassOn {
					color: #f5a8a8;
					color: #fff;
				}

			input#unhidepass {
				width: 1em;
				margin-right: 0.5em;
			}
			.unhide-cursor {
				cursor: pointer;
			}
			input#unhidepass {
				display: none;
			}
			.showPswd.showOn {
				color: green;
			}
		}
		input#showConf {
			margin-bottom: 0.5em;
		}
		& > input.submit {
			font-family: Tahoma, Calbri, sans-serif;
			background-color: rgba(0,0,0,0.9);
			color: #fff;
			cursor: pointer;
			border: 1px solid #fff;
			transition: all 0.2s ease;
			margin-top: 0.5em;
			&:hover {
				background-color: rgba(0,0,0,0.2);
			}
		}
		& > input.login-pswd {
			margin-bottom: 0.5em;
			letter-spacing: 2px;
		}
	}

}

.rm-wrap {
	// margin-bottom: 0.75em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
	// &:focus,
	// &:active {
	// 	outline: none;
	// 	border: 1px dotted rgba(255,255,255,0.2);
	// }
}
input[name="remember_me"] {
	display: none;
}

.aa-rm-out {
	border: 2px solid transparent;
	background-color: transparent;
	border-radius: 50%;
	padding: 3px;
	cursor: pointer;
	margin-right: 0.5em;
}
.aa-rm-out.checkablue {
	border: 2px solid blue;
	background-color: #fff;
}
.aa-rm-in {
	border: 2px solid #fff;
	background-color: transparent;
	border-radius: 50%;
  	padding: 5px;
  	cursor: pointer;
  	color: #fff; 
}
.aa-rm-in.checkaroo {
	border: 4px solid red;
	padding: 3px;
	background-color: #fff;
}
.rm-rm {
	color: #fff;
}
.rm-rm.hot {
	color: rgba(150,255,0,1);
}



div.pswd-recovery {
	padding: 20px;
    background-color: #d4e8da;
    color: #415b45;
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid #415b45;	
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #313131 inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}




h1.text-center {
	text-align: center;
	margin-bottom: 0.5em;
	font-size: 1.2em;
}
p.center {
	text-align: center;
}
p.btm-p {
	margin-top: 0.5em;
	font-size: 0.8em;
}
p.btm-p.try-again {
	font-size: 0.8em;
}
#landing-content {
	width: 96%;
	max-width: 450px;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// justify-content: center;
	padding: 30px 50px;
	background-color: rgba(255,255,255,0.06);
	border: 1px solid #fff;
	box-shadow: 0px 0px 18px 8px rgba(255, 255, 255, 0.18);
}
h1.welcome {
	font-size: 1.6em;
	margin: 0em 0em 0.6em 0em;
	color: #fff;
}
a.log {
	color: #fff;
	text-decoration: underline;
	margin-top: 0.5em;
	&:hover {
		text-decoration: none;
	}	
}
a.logout {
	color: #fff;
	text-decoration: none;
}
a.welcome-log {
	color: #fda1a1;
	text-decoration: none;
	display: block;
	margin-right: 0.5em;
	text-align: right;
	&:hover {
		text-decoration: underline;
	}
}
button.verified,
a.verified {
	width: 100%;
	text-align: center;
	padding: 10px 20px;
	background-color: #d4e8da;
	background-color: rgba(0,0,0,1);
	background-color: rgba(130,195,58,1);
	color: #445e49;
	color: #fff;
	border: 1px solid #445e49;
	border-radius: 3px;
	font-size: 1em;
	transition: all 0.2s ease;
	display: block;
	margin: 0.5em auto 0;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #fff;
	&:hover {
		background-color: #445349;
		background-color: rgba(0,0,0,0.3);
		background-color: rgba(87,163,0,1);
		color: #fff;
	}
}
.alert.alert-warning {
	background-color: #fff1cf;
	color: #7e652e;
	padding: 20px;
	border: 1px solid #736552;
	margin-top: 0.5em;
}
p.logins {
	margin-top: 1em;
}
.alert-danger {
	font-family: 'Courier Prime', monospace;
	padding: 20px;
	background-color: rgba(255,0,0,0.5);
	background-color: rgba(255,76,76,1);
	color: #fff;
	margin-bottom: 1em;
	width: 100%;
	text-align: center;
	border: 1px solid #ff0000;
	border: 1px solid #f02222;
	text-align: left;
	line-height: 1.2em;
	li {
		//margin-bottom: 0.5em;
	}
}
.alert-danger.success-instead {
	background-color: rgba(110,163,49,1);
	border: 1px solid #82c33a;
}
.alert.alert-success {
	// font-family: 'Courier Prime', monospace;
	padding: 20px;
	background-color: rgba(212,232,218,1);
	color: #415b45;
	margin-bottom: 1em;
	width: 100%;
	text-align: center;
	border: 1px solid #415b45;
}
.alert.pass-reset {
	padding: 20px;
	background-color: rgba(212,232,218,1);
	color: #415b45;
	margin-bottom: 1em;
	width: 100%;
	text-align: left;
	border: 1px solid #415b45;

}
#login-wrap {
	height: 100%;
	height: 100vh;
	width: 100%;
	background-color: rgba(233,233,233,1);
	& > a.courier {
		font-family: 'Courier Prime', monospace;
	}
}
a.signup-link {
	color: #fff;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
form#logout-form {
	& > button {
		padding: 10px 16px;
		margin-top: 1em;
	}
}
#register {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	height: 100vh;
	line-height: 2em;
	& > form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 96%;
		max-width: 500px;
		padding: 30px;
		font-size: 1em;
		& > h1 {
			margin-bottom: 0.5em;
		}
		& > input {
			height: 2.5em;
			// width: 50%;
			// line-height: 1.5em;
			margin-bottom: 1em;
			padding: 0.5em;
			text-align:center;
			font-size: 1em;
			font-family: Tahoma, Calbri, Helvetica, sans-serif;
		}
		& > button {
			padding: 10px 20px;
			background-color: rgba(0,0,0,1);
			color: rgba(255,255,255,1);
			border: 1px solid #fff;
			cursor: pointer;
			transition: all 0.2s ease;
			&:hover {
				background-color: rgba(255,255,255,0.3);
				color: #fff;
			}
		}
	}
		a.reg-log {
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
}
span.yo-email {
	display: block;
	text-align: center;
	margin: 0.5em auto;
	color: #000;
	overflow-wrap: break-word;
}

@media screen and (max-width: 600px) {
	#landing {
		height: auto;
		margin: 1em auto;
		& > form {
			padding: 30px 20px 40px;
			input {
				font-size: 1.2em;
			}
			label[for="remember_me"] {
				margin: 1em auto 1.5em;
			}
			p.btm-p {
				margin-bottom: 1em;
			}
		}
	}
	#landing-content {
		padding: 30px 20px;
	}
}