#landing-bkg {
	width: 100%;
	height: 100%;
	height: 100vh;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -999;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	img.stretch {
		width: 100%;
	}
}
#landing {
	width: 100%;
	height: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	line-height: 1.5em;
	& > .visitor1 > form,
	& > form {
		width: 100%;
		// max-width: 450px;
		padding: 2em;
		background-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgba(255,255,255,0.06);
		border: 1px solid #fff;
    box-shadow: 0px 0px 18px 8px rgba(255, 255, 255, 0.18);
		.name {
			display: flex;
			justify-content: space-between;
			align-items: center;
			input {
				width: 48%;
			}
		}
		& > h1 {
			font-size: 1.2em;
			text-align: center;
			display: block;
			margin: 0 auto 1em;
		}
		& > p {
			margin-bottom: 0.5em;
		}
		input {
			height: 2.5em;
			width: 100%;
			// line-height: 1.5em;
			margin-bottom: 1em;
			padding: 0.5em;
			text-align:center;
			font-size: 1em;
			font-family: Tahoma, Calbri, Helvetica, sans-serif;
			// background-color: rgba(0,0,0,0.2);
			background-color: rgba(255,255,255,0.05);
			// background-color: rgba(52, 78, 230, 0.1);
			color: #fff;
			color: -internal-light-dark(#7999b8, white) !important;
			border-top: 1px dotted #fff;
			border-right: none;
			border-bottom: 1px dotted #fff;
			border-left: none;
			transition: background-color 0.2s ease;
			&::placeholder {
				color: rgba(255,255,255,0.75);
			}
			&:focus,
			&:active {
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
				outline: none;
			}
			&:hover {
				background-color: rgba(255,255,255,0);
			}
		}
		// front login autofill
		// stop Chrome from black fill
		input:-webkit-autofill,
		input:-webkit-autofill:hover, 
		input:-webkit-autofill:focus, 
		input:-webkit-autofill:active  { // bkg color
		    // -webkit-box-shadow: 0 0 0 30px #3c3c3c inset !important;
		    // spring
		    // -webkit-box-shadow: 0 0 0 30px #7999b8 inset !important;
		    -webkit-text-fill-color: white !important;
		    // font: 400 1em 'Roboto';
		}
		// input:-webkit-autofill { // text color
		//     -webkit-text-fill-color: white !important;
		// }
		.showpassword-wrap {
			margin-bottom: 1em;
			margin-top: -0.5em;
			width: 100%;
			text-align: right;
			font-size: 0.8em;

			div#showLoginPass,
      div#showLoginPass-home,
			div#showSignupPass,
      div#showSignupPass-insert {
				background-color: transparent;
				color: #fff;
				border: none;
				cursor: pointer;
				outline: 0;
				i.far {
					margin-right: 0.5em;
				}
			}
      div#showLoginPass-home.showPassOn,
			div#showLoginPass.showPassOn,
			div#showSignupPass.showPassOn,
      div#showSignupPass-insert.showPassOn {
					color: #f5a8a8;
					// color: #fff;
				}

			input#unhidepass {
				width: 1em;
				margin-right: 0.5em;
			}
			.unhide-cursor {
				cursor: pointer;
			}
			input#unhidepass {
				display: none;
			}
			.showPswd.showOn {
				color: green;
			}
		}
		input#showConf {
			margin-bottom: 0.5em;
		}
		& > input.submit {
			font-family: Tahoma, Calbri, sans-serif;
			background-color: rgba(0,0,0,0.9);
			color: #fff;
			cursor: pointer;
			border: 1px solid #fff;
			transition: all 0.2s ease;
			margin-top: 0.5em;
			&:hover {
				background-color: rgba(0,0,0,0.2);
			}
		}
		& > .login-pswd,
        #showPassword,
        #showConf {
			margin-bottom: 0.5em;
			letter-spacing: 3px;
		}
	}
}

// .form-fade {
//   position: absolute;
//   opacity: 0;
//   width: 100%;
//   height: 100%;
//   background-color: black;
//   z-index: 10;
//   animation: fadeout 2s ease;
// }
// @keyframes fadeout {
//   from {
//     opacity: 1;
//   }
//   to {
//     opacity: 0;
//   }
// }

.rm-wrap {
	// margin-bottom: 0.75em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
	// &:focus,
	// &:active {
	// 	outline: none;
	// 	border: 1px dotted rgba(255,255,255,0.2);
	// }
}
#remember_me-insert,
#remember_me {
  display: none;
}

.aa-rm-out {
	border: 2px solid transparent;
	background-color: transparent;
	border-radius: 50%;
	padding: 3px;
	cursor: pointer;
	margin-right: 0.5em;
}
.aa-rm-out.checkablue {
	border: 2px solid blue;
	background-color: #fff;
}
.aa-rm-in {
	border: 2px solid #fff;
	background-color: transparent;
	border-radius: 50%;
  	padding: 5px;
  	cursor: pointer;
  	color: #fff; 
}
.aa-rm-in.checkaroo {
	border: 4px solid red;
	padding: 3px;
	background-color: #fff;
}
.rm-rm {
	color: #fff;
}
.rm-rm.hot {
	color: rgba(150,255,0,1);
}
label[for='remember_me']:hover {
  .aa-rm-out {
    border: 2px solid blue;
    background-color: #fff;
  }
  .aa-rm-in {
    border: 4px solid red;
    padding: 3px;
    background-color: #fff;    
  }
  .rm-rm {
    // color: #fff;
  }
}


/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #313131 inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}




h1.text-center {
	text-align: center;
	margin-bottom: 0.5em;
	font-size: 1.2em;
}
p.center {
	text-align: center;
}
p.btm-p {
	margin-top: 0.5em;
	font-size: 0.8em;
}
p.btm-p.try-again {
	font-size: 0.8em;
}








#landing-content {
	width: 96%;
	max-width: 450px;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// justify-content: center;
	padding: 30px 50px;
	background-color: rgba(255,255,255,0.06);
	border: 1px solid #fff;
	box-shadow: 0px 0px 18px 8px rgba(255, 255, 255, 0.18);
}
h1.welcome {
	font-size: 1.6em;
	margin: 0em 0em 0.6em 0em;
	color: #fff;
}
a.log {
  cursor: pointer;
	color: #fff;
	text-decoration: none;
	margin-top: 0.5em;
  transition: all 0.2s ease;
	&:hover {
		text-decoration: underline;
	}	
}
a.log.lt {
  margin-right: 0.5em;
}
a.log.rt {
  margin-left: 0.5em;
}


a.logout {
	color: #fff;
	text-decoration: none;
}
a.welcome-log {
	color: #fda1a1;
	text-decoration: none;
	display: block;
	margin-right: 0.5em;
	text-align: right;
	&:hover {
		text-decoration: underline;
	}
}





#table-page #table-wrap #landing .success-message {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  box-shadow: 0px 0px 18px 8px rgba(255,255,255,0.18);
  animation: successfadein 2.5s ease-out;
  .success-area {
    width: 100%;
    text-align: left;
    p {
      margin: 0;
    }
    p.nope {
      padding: 20px;
      border: 1px solid #f1f1f1;
      margin-bottom: 1em;
      border-radius: 15px;
    }
    p.almost {
      text-align: center;
      background-color: #d4e8da;
      color: #415b45;
      padding: 20px;
      border: 1px solid #415b45;
    }
    p.welcome {
      font-size: 1.6em;
      margin: 0.5em 0;
      color: #fff;
    }
    p.riff {
      background-color: #fff1cf;
      color: #7e652e;
      padding: 20px;
      border: 1px solid #736552;
      margin-top: 0.5em;
    }
    p.fpm {
      background-color: #fff1cf;
      color: #7e652e;
      padding: 20px;
      border: 1px solid #736552;
    }
    .yo-email {
      display: block;
      text-align: center;
      margin: 0.5em auto;
      color: #000;
      overflow-wrap: break-word;
    }
    a.verified {
      width: 100%;
      text-align: center;
      padding: 10px 20px;
      background-color: #82c33a;
      color: #fff;
      border: 1px solid #445e49;
      border-radius: 3px;
      transition: all 0.2s ease;
      display: block;
      margin: 0.5em auto 0;
      cursor: pointer;
      text-decoration: none;
      border: 1px solid #fff;
      &:hover {
        background-color: rgba(87,163,0,1);
        scale: 0.95;
      }
    }

  }
}

@keyframes successfadein {
  from { opacity: 0; }
  to { opacity: 1; }
}






#table-page #table-wrap .visitor #reset-success {
  width: 100%;
  text-align: left;
  color: #fff;
  background-color: #3cb34e;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #fff;
  margin-bottom: 1em;
  p {
    margin-bottom: 0;
  }
  p.msg {
    margin-bottom: 0;
  }
}
#table-page #table-wrap .visitor #reset-success.not {
  background-color: #ff4c4c;
}
#reset-success.unset {
  display: none;
}

#error-area,
#reset-error-area {
  width: 100%;
  text-align: left;
  color: #afafaf;
  margin-bottom: 1em;
  a.log {
    color: yellow;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
      text-decoration: underline;
    }
  }
}
#pswd-recovery {
  padding: 20px;
  background-color: #d4e8da;
  color: #415b45;
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid #415b45;  
}
#error-area.gone,
#reset-error-area.gone,
#pswd-recovery.gone {
  display: none;
  margin: 0;
}
#pswd-recovery.holup,
#reset-error-area.holup {
  background-color: rgba(0,0,0,0.9);
  padding: 20px;
  color: #a1a1a1;
  border: 1px solid rgba(255,255,255,0.4);
}
#table-page #table-wrap #pswd-recovery.holup p,
#table-page #table-wrap #reset-error-area.holup p {
  margin-bottom: 0;
}







#login-form,
#login-form-insert,
#signup-form,
#success-form,
#forgot-form,
#reset-form,
#new-project-form,
#epd-form {
  #hidethis {
    display: none;
  }
  a.fp-link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 2px 10px;
    border: 1px solid transparent;
    background-color: #cd2b2b;
    &:hover {
      text-decoration: none;
      background-color: transparent;
      border: 1px solid #fff;
    }
  }
  #login-alert,
  #new-project-alert,
  #epd-alert,
  #reset-alert,
  #signup-alert,
  #forgot-alert {
    font-family: 'Courier Prime', monospace; 
    color: #fff;
    width: 100%;
    opacity: 0;
    text-align: center;
    border: 1px solid transparent;
    height: 0px;
    text-align: left;
    background-color: #000;
    border-radius: 0px;
    transition: background-color 0.2s ease-out 0.2s, 
                border-radius 3s ease-out 1s, 
                opacity 0.2s ease-out 0.1s;
    ul#errors,
    ul#reset-errors,
    ul#signup-errors,
    ul#forgot-errors {
      margin: 0;
    }
    ul {
      margin-left: 20px;
      li {
        list-style-type: disc;
      }
    }
    ul#new-project-errors,
    ul#epd-errors {
      li {
        line-height: 1.25em;
        margin-bottom: 0.5em;
      }
      li:last-of-type {
        margin-bottom: 0;
      }
    }
  }



  #login-alert,
  #new-project-alert,
  #epd-alert,
  #reset-alert,
  #signup-alert {
    display: none;
  }
  #login-alert.red,
  #login-alert.blue,
  #login-alert.orange,
  #login-alert.green,
  #new-project-alert.red,
  #epd-alert.red,
  #signup-alert.red,
  #signup-alert.blue,
  #signup-alert.orange,
  #signup-alert.green,
  #forgot-alert.red,
  #forgot-alert.blue,
  #forgot-alert.orange,
  #forgot-alert.green,
  #reset-alert.red,
  #reset-alert.blue,
  #reset-alert.orange,
  #reset-alert.green, {
    display: block;
    height: auto;
    opacity: 1;
    padding: 20px;
    margin-bottom: 1em;
    border-radius: 15px;
    animation: errorfade 1.5s ease-out;
  }
  #login-alert.red,
  #new-project-alert.red,
  #epd-alert.red,
  #forgot-alert.red,
  #signup-alert.red,
  #reset-alert.red {
    background-color: #ff4c4c;
    border: 1px solid #fff;
  }
  #login-alert.blue,
  #forgot-alert.blue,
  #signup-alert.blue,
  #reset-alert.blue {
    background-color: #386ab4;
    border: 1px solid #0f356d;
  }
  #login-alert.orange,
  #forgot-alert.orange,
  #signup-alert.orange,
  #reset-alert.orange {
    background-color: #d08b1f;
    border: 1px solid #ff9c00;
  }
  #login-alert.green,
  #forgot-alert.green,
  #signup-alert.green,
  #reset-alert.green {
    background-color: #139f19;
    border: 1px solid #09f514;
  }
  #toggle-btn,
  #toggle-reset-btn,
  #toggle-signup-btn,
  #toggle-forgot-btn,
  #toggle-btn-insert {
    display: flex;
    width: 100%;
  }
  .verifying-msg {
    background-color: #000;
  }
  #login-btn,
  #reset-btn,
  #login-btn-insert,
  #signup-btn,
  #forgot-btn,
  #resetpass-btn,
  .verifying-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #fff;
    margin: 0.5em 0 1em;
    cursor: pointer;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    transition: all 0.2s ease;
    &:hover {
      scale: 0.95;
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.6);
    }
    .login-txt {
      background-color: rgba(0,0,0,0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 2.5em;
      
    &:hover {
        background-color: #000;
      }
    }
    .login-verify {
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      // padding: 10px 20px;
      height: 2.5em;

    }
  }
  // when form is processing - remove
  // pointer and keep bkg solid (no hover)
  #toggle-btn .verifying-msg,
  #toggle-reset-btn .verifying-msg,
  #toggle-signup-btn .verifying-msg,
  #toggle-forgot-btn .verifying-msg,
  #toggle-btn-insert .verifying-msg,
  #epd-toggle-btn .verifying-msg {
    cursor: default;
    box-shadow: none;
    &:hover {
      scale: 1;
    }
    .login-txt {
      background-color: #000;
    }
  }
}
@keyframes errorfade {
  from { opacity: 0; }
  to { opacity: 1; }
}

#login-form,
#login-form-insert,
#forgot-form,
#signup-form,
#success-form {
  animation: fadein 1.5s ease-out;
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}













#table-page #table-wrap .visitor .visitor1 {
  // width: 60%;
}
#table-page #table-wrap .visitor .visitor2 {
  // width: 40%;
}




























button.verified,
a.verified {
	width: 100%;
	text-align: center;
	padding: 10px 20px;
	background-color: #d4e8da;
	background-color: rgba(0,0,0,1);
	background-color: rgba(130,195,58,1);
	color: #445e49;
	color: #fff;
	border: 1px solid #445e49;
	border-radius: 3px;
	font-size: 1em;
	transition: all 0.2s ease;
	display: block;
	margin: 0.5em auto 0;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #fff;
	&:hover {
		background-color: #445349;
		background-color: rgba(0,0,0,0.3);
		background-color: rgba(87,163,0,1);
		color: #fff;
	}
}
.alert.alert-warning {
	background-color: #fff1cf;
	color: #7e652e;
	padding: 20px;
	border: 1px solid #736552;
	margin-top: 0.5em;
}
p.logins {
	margin-top: 1em;
}
.alert-danger {
	font-family: 'Courier Prime', monospace;
	padding: 20px;
	background-color: rgba(255,0,0,0.5);
	background-color: rgba(255,76,76,1);
	color: #fff;
	margin-bottom: 1em;
	width: 100%;
	text-align: center;
	border: 1px solid #ff0000;
	border: 1px solid #f02222;
	text-align: left;
	line-height: 1.2em;
	li {
		//margin-bottom: 0.5em;
	}
}
.alert-danger.success-instead {
	background-color: rgba(110,163,49,1);
	border: 1px solid #82c33a;
}
.alert.alert-success {
	// font-family: 'Courier Prime', monospace;
	padding: 20px;
	background-color: rgba(212,232,218,1);
	color: #415b45;
	margin-bottom: 1em;
	width: 100%;
	text-align: center;
	border: 1px solid #415b45;
}
.alert.pass-reset {
	padding: 20px;
	background-color: rgba(212,232,218,1);
	color: #415b45;
	margin-bottom: 1em;
	width: 100%;
	text-align: left;
	border: 1px solid #415b45;

}
#login-wrap {
	height: 100%;
	height: 100vh;
	width: 100%;
	background-color: rgba(233,233,233,1);
	& > a.courier {
		font-family: 'Courier Prime', monospace;
	}
}
a.signup-link {
	color: #fff;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
form#logout-form {
	& > button {
		padding: 10px 16px;
		margin-top: 1em;
	}
}
#register {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	height: 100vh;
	line-height: 2em;
	& > form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 96%;
		max-width: 500px;
		padding: 30px;
		font-size: 1em;
		& > h1 {
			margin-bottom: 0.5em;
		}
		& > input {
			height: 2.5em;
			// width: 50%;
			// line-height: 1.5em;
			margin-bottom: 1em;
			padding: 0.5em;
			text-align:center;
			font-size: 1em;
			font-family: Tahoma, Calbri, Helvetica, sans-serif;
		}
		& > button {
			padding: 10px 20px;
			background-color: rgba(0,0,0,1);
			color: rgba(255,255,255,1);
			border: 1px solid #fff;
			cursor: pointer;
			transition: all 0.2s ease;
			&:hover {
				background-color: rgba(255,255,255,0.3);
				color: #fff;
			}
		}
	}
		a.reg-log {
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
}
span.yo-email {
	display: block;
	text-align: center;
	margin: 0.5em auto;
	color: #000;
	overflow-wrap: break-word;
}

@media screen and (max-width: 600px) {
	#landing {
		height: auto;
		margin: 1em auto;
		& > form {
			padding: 30px 20px 40px;
			input {
				font-size: 1.2em;
			}
			label[for="remember_me_home"],
      label[for="remember_me"] {
				margin: 1em auto 1.5em;
			}
			p.btm-p {
				margin-bottom: 1em;
			}
		}
	}
	#landing-content {
		padding: 30px 20px;
	}
}