.project-notes li input.modify-input {
  background-color: #fff;
  color: #313131;
  width: 100%;
  background-color: rgba(98,190,232,0.2);
  padding: 0.5em; 
  &:hover {
    text-decoration: none;
    cursor: text;
  }
}
.project-notes li input.update {
  margin-top: 1em;
  width: 48%;
  border: 1px solid green;
  padding: 1em;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  background-color: rgba(92,184,92,1);
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background-color: rgba(92,184,92,0.8);
  }
}