#table-page {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	#project-wrap {
		width: 100%;
		max-width: 900px;
		padding: 4em 0.5em 2em;
		.my-projects {
			width: 100%;
			// background-color: #000;
			margin: 2px 0;
			form {
				// width: 100%;
				display: flex;
				flex-wrap: wrap;
			}
		}
		a.my-nav {
			color: #fff;
			text-decoration: none;
			// margin-left: 1.4em;
			transition: all 0.2s ease;
			&:hover {
				color: rgba(98,190,232,1);
			}
      &:nth-of-type(2) {
        margin-left: 1.4em;
      }
		}
		.project-greeting {
      display: flex;
      align-items: center;
      margin: 1em 0.5em;
      &.top {
        justify-content: space-between;
      }
      p {
        line-height: 1.25em;
      }
      p.h {
        text-decoration: underline;
      }
      a.np-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 1em;
        color: #fff;
        background-color: rgba(0,0,0,0.4);
        border: 1px solid #fff;
        box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
        transition: all 0.1s ease;
        &:hover {
          background-color: rgba(0,0,0,0.8);
          box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.6);
            -webkit-transform: scale(0.95);
            -moz-transform: scale(0.95);
            -o-transform: scale(0.95);
            transform: scale(0.95);
        }
        i {
          margin-right: 1em;
          font-size: 1.2em;
        }
      }
      .bold {
        font-weight: bold;
      }
      .mp-last-project {
        display: flex;
        align-items: center;
        margin-right: 1em;
        a.mp-lpl {
          color: #fff;
        }
      }
		}
    // div.project-greeting.my-info {

    // }

		input.update-current-project {
			border: none;
			// display: flex;
			font-size: 1em;
			color: #fff;
			// padding: 0.5em 1em;
			width: 100%;
			// background-color: rgba(0,0,0,1);
			cursor: pointer;
			outline: none;
			line-height: 1.5em;
			text-decoration: none;
			transition: all 0.2s ease;
			&:hover {
				// background-color: rgba(255,255,255,0.3);
			}
		}

	}
}
p.owner-txt {
	color: #fff;
	margin-bottom: 0.5em;
}







// my_projects.php
.project-details {
	display: flex;
	flex-direction: column;
	form {
		display: inline;
		a i.fa-home,
		a i.fa-edit,
		a i.fa-sort,
    a i.fa-cog,
		a i.fa-fill-drip,
		a i.fa-info-circle,
		a i.fa-user-friends,
		a i.fa-arrows-alt {
			color: #fff;
			text-decoration: none;
			transition: all 0.2s ease;
			&:hover {
				color: #62bee8;
			}
		}
	}
	.shared-with {
		width: 100%;
		text-align: right;
    line-height: 1.5em;
		margin: 0.5em 0;
		padding-right: 1em;
	}
	background-color: rgba(255,255,255,0.2);
	padding: 1em;
	// a {
	// 	margin: 0 1em;
	// }



	.project-notes {
		flex-direction: row;
		white-space: pre-line;
		padding: 1.5em;
		margin: 1em 0;
		border: 1px solid rgba(255,255,255,0.3);
		// border-radius: 8px;
		line-height: 1.5em;
		pre {
		    white-space: pre-wrap;       /* Since CSS 2.1 */
		    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		    white-space: -pre-wrap;      /* Opera 4-6 */
		    white-space: -o-pre-wrap;    /* Opera 7 */
		    word-wrap: break-word;       /* Internet Explorer 5.5+ */
		}
	}
  .my-perms {
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
  }
}
.project-notes.my-projects-pg p {
  width: 100%;
  text-align: center;
}



a.my-projects {
	color: #fff;
}
a.hl {
	color: #fff;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
a.project-links,
a.project-links.shim {
	color: #fff;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
a.project-links.shim {
	// visibility: hidden;
	cursor: default;
}
a.project-links.shim-edit {
	// visibility: hidden;
	cursor: pointer;
}
a.project-links.delete-pg {
	cursor: default;
}
#table-page.my-projects {
  align-items: flex-start;
}




.review-project {
  position: relative;
  z-index: 10;
  display: flex;
  background-color: rgba(0,0,0,1);
  cursor: pointer;
  width: 100%;
  color: #fff;
  transition: all 0.2s ease;
  &:hover {
    background-color: rgba(255,255,255,0.8);
    color: #313131;

    .pro-left .hmp {
      color: rgba(0,0,0,0.3);
    }

  }
  .pro-left {
    position: absolute;
    z-index: 21;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 0.3s ease;
    &:hover {
      background-color: rgba(0,0,0,0.3);
      .hmp {
        color: #000;
      }

    }
    .hmp {
      color: rgba(255,255,255,0.3);
      // color: green;
    }
    a.gth-link {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 31;
      padding: 1em;
      margin-bottom: 1px;
    }
    a.gth-link.shared {
      margin-bottom: 1px;
      /* weird artifact w/o this 1px */
    }
  }
  .pro-right {
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
  }
}
.search-field {
  display: flex;
  align-items: center;
  padding-left: 0.5em; 
  border: 1px solid #ccc;
  .fa-search {
    padding: 0em 0.5em;
  }
}
#mp_searchInput {
  outline: none;
  -webkit-appearance: none;
  padding: 0.5em;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #ccc;
  font-size: 1em;
  margin-left: 1em;
}