.sharing {
	width: 100%;
	max-width: 600px;
	padding: 2em;
	margin: 0 auto;
	h1 {
		font-size: 1.8em;
		margin-bottom: 0.5em;
    display: inline-block;
	}
  span {
    float: right;
    padding-right: 0.5em;
    color: #fff;
    .tooltip .tooltiptext {
      width: 75px;
      margin-left: -37.5px;
    }
    a {
      color: #fff;
    }
  }
  form.gth {
    margin-bottom: 0;
  }
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 1em;
		p {
			width: 100%;
			padding: 0.5em;
      margin-bottom: 1em;
			text-align: center;
			font-size: 1.3em;
		}

		.edit.checked,
		.share.checked,
    .edit2.checked,
    .share2.checked {
			background-color: rgba(79,117,35,1);
		}

		input[type=email] {
			background-color: rgba(255,255,255,0.05);
			color: #fff;
			height: 2.5em;
			width: 100%;
			padding: 0.5em;
			margin: 1em 0;
			font-size: 1em;
			font-family: Tahoma, Calbri, Helvetica, sans-serif;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			border-right: none;
			border-left: none;
			outline: none;
			&:focus {
				outline: none;
			}
      &.red {
        background-color: rgba(255,0,0,0.2);
        border-top: 1px solid red;
        border-bottom: 1px solid red;
      }
		}
		input[type=email].email-error {
			// background-color: rgba(255,0,0,0.2);
			border-top: 1px solid rgba(231,74,66,1);
			border-bottom: 1px solid rgba(231,74,66,1);
		}

		.share-note {
			border: 1px dotted #ccc;
			padding: 1.5em;
			line-height: 1.5em;
			background-color: rgba(255,255,255,0.1);
      margin-top: 2em;
		}
		.echeckon,
		.scheckon {
			display: none;
		}
		.echeckon.showcheck,
		.scheckon.showcheck {
			display: inline-block;
			margin: 0 0.5em;
			color: #fff;
			// font-size: 1.5em;
		}
	}



  .priv-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    // border: 1px solid rgba(0,0,0,0.8);
    // box-shadow: 0px 0px 3px 5px rgba(0,0,0,0.1);
    .choice,
    .choice2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      color: #fff;
      margin: 5px 0;
      padding: 10px;
      background-color: transparent;
      border-radius: 3px;
      border: 1px solid rgba(255,255,255,0.2);
      transition: all 0.2s ease;
      // transition: background-color 0.2s ease-out 0.2s, border-radius 0.2s ease-out 0.5s;
      &:hover {
        // border-radius: 0px;
        background-color: #3cb34e;
      }

      i {
        font-size: 1.75em;
      }
      label {
        cursor: pointer;
        line-height: 1.25em;
        width: 100%;
        padding: 10px;
        background-color: transparent;
        transition: all 0.2s ease;
        &:hover {
          // background-color: #3cb34e;
        }
      }
    }
    .choice.edit.on,
    .choice.share.on,
    .choice.edit2.on,
    .choice.share2.on {
      border: 1px solid transparent;
      &:hover {
        // border-radius: 0px;
      }
    }    
  }
  #edit,
  #share {
    display: none;
  }
  .editnocheck,
  .editcheck,
  .sharenocheck,
  .sharecheck,
  .editnocheck2,
  .editcheck2,
  .sharenocheck2,
  .sharecheck2 {
    display: none;
  }

  .editnocheck.show,
  .editcheck.show,
  .sharenocheck.show,
  .sharecheck.show,
  .editnocheck2.show,
  .editcheck2.show,
  .sharenocheck2.show,
  .sharecheck2.show {
    display: flex;
  }

	h2.edit-share {
		font-size: 1.2em;
		text-decoration: underline;
		margin-bottom: 0.5em;
	}


	form.edit-user {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0;
		line-height: 1.5em;
		input[type=submit].remove,
		input[type=submit].modify {
			display: inline;
			width: auto;
			padding: 0em;
			border: none;
			margin: 0;
			background-color: transparent;
			text-decoration: none;
			outline: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.sharing .priv-box .choice.share2.on,
.sharing .priv-box .choice.edit2.on {
  background-color: #4f7523;
}

#esModal {
  background-color: transparent;
  &.sharing {
    box-shadow: none;
  }
}
.priv-box {
  background-color: #313131;
  border: 1px solid #fff;
}
.sharemodal {
  width: 100%;
  &.sharing {
    padding: 0px;
  }
  // label.edit2.checked,
  // label.share2.checked {
  //   background-color: rgba(79,117,35,1);
  // }


}
#edit2,
#share2 {
  display: none;
}


.rsu {
  display: flex;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: rgba(0,0,0,0.8);
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0); 
  transition: all 0.2s ease; 
  &:hover {
    border: 1px solid #fff;
    background-color: #000;
    border-radius: 5px;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}
#shared-list {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  li span {
    display: flex;
    width: 100%;
    padding: 0.25em 1em 0.5em 0;
    color: #fff;
    font-size: 0.8em;

  }
  li.alone {
    color: #fff;
    padding: 0.5em 1em;
  }
  li {
    padding: 0em 0em 0em 1em;
  }
  li:nth-child(odd) {
    background-color: rgba(0,0,0,0.3);
  }
  li:nth-child(even) {
    background-color: transparent;
    .rsu {
      background-color: transparent;
    }
  }
}

