.sharing {
	width: 100%;
	max-width: 600px;
	padding: 2em;
	margin: 0 auto;
	h1 {
		font-size: 1.8em;
		margin-bottom: 0.5em;
	}
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 1em;
		p {
			width: 100%;
			padding: 0.5em;
			text-align: center;
			font-size: 1.3em;
		}
		label {
			line-height: 2em;
			width: 100%;
			cursor: pointer;
			padding: 0.5em;
			&:hover {
				background-color: rgba(0,0,0,0.2);

			}
		}
		input[type=checkbox] {
			margin-right: 0.75em;
			visibility: hidden;
			width: 1em;
			height: 1em;
			position: fixed;
		}
		// label.edit {
		// 	margin-bottom: 0.2em;
		// }
		label.edit,
		label.share {
			background-color: transparent;
			color: #fff;
			margin-bottom: 0.2em;
			transition: background-color 0.2s ease;
			&:hover {
				background-color: rgba(130,195,58,1);
				// color: #313131;
			}
		}
		label.edit.checked,
		label.share.checked {
			background-color: rgba(79,117,35,1);
		}
		input[type=email] {
			background-color: rgba(255,255,255,0.05);
			color: #fff;
			height: 2.5em;
			width: 100%;
			padding: 0.5em;
			margin: 1em 0;
			font-size: 1em;
			font-family: Tahoma, Calbri, Helvetica, sans-serif;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			border-right: none;
			border-left: none;
			outline: none;
			&:focus {
				outline: none;
			}
		}
		input[type=email].email-error {
			// background-color: rgba(255,0,0,0.2);
			border-top: 1px solid rgba(231,74,66,1);
			border-bottom: 1px solid rgba(231,74,66,1);
		}
		input[type=submit] {
			width: 100%;
			margin: 1em 0 0.5em;
			font-size: 1em;
			padding: 1em;
			color: #fff;
			background-color: rgba(0,0,0,0.6);
			border: 1px solid #fff;
			cursor: pointer;
			transition: all 0.2s ease;
			&:hover {
				background-color: rgba(0,0,0,1);
			}
		}
		.share-note {
			border: 1px dotted #ccc;
			padding: 1.5em;
			font-size: 0.8em;
			line-height: 1.5em;
			background-color: rgba(255,255,255,0.1);
		}
		.echeckon,
		.scheckon {
			display: none;
		}
		.echeckon.showcheck,
		.scheckon.showcheck {
			display: inline-block;
			margin: 0 0.5em;
			color: #fff;
			// font-size: 1.5em;
		}
	}
	h2.edit-share {
		font-size: 1.2em;
		text-decoration: underline;
		margin-bottom: 0.5em;
	}
	form.remove-self {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		padding: 0.2em 0.5em;
		background-color: transparent;
		margin-bottom: 0;
		&:hover {
			background-color: rgba(0,0,0,0.3);
		}
		p.mep {
			font-size: 1em;
			width: auto;
			padding: 0em;
			text-align: left;
		}
		input[name=remove-self] {
			display: inline;
		    width: auto;
		    padding: 0em;
		    border: none;
		    margin: 0;
		    background-color: transparent;
		    outline: none;
		    text-decoration: none;
		    &:hover {
		    	text-decoration: underline;
		    }
		}
	}
	.shared-users {
		// line-height: 1.5em;
		width: 100%;
		background-color: transparent;
		padding: 0.2em 0.5em;
		transition: all 0.2s ease;
		&:hover {
			background-color: rgba(0,0,0,0.3);
		}
	}	
	form.edit-user {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0;
		line-height: 1.5em;
		input[type=submit].remove,
		input[type=submit].modify {
			display: inline;
			width: auto;
			padding: 0em;
			border: none;
			margin: 0;
			background-color: transparent;
			text-decoration: none;
			outline: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

