body {
	background-color: #fff;
	color: #636363;
}
.preload,
.preload-manage {
	background-color: #fff;	
}

ul.inner-nav li a#edit-content.active {
	color: #ff4500;
}
ul#sortable,
ul#static-sort {
	li a.ue {
		color: rgba(0,90,120,0.4);
		&:hover {
			color: #b22222;
		}
	}
}
.modify-modal-content,
.aan-modal-content {
    background-color: #fff; 
    color: #313131;
	form p,	
	label {
		color: #313131;
	}
}
#theModal .modal-header,
#theModal .modal-footer,
.aan-modal-header,
.aan-modal-footer,
.modify-modal-header,
.modify-modal-footer {
  background-color: #757575;
}
#theModal .modal-body form.edit-link-form input.edit-input {
	background-color: rgba(98,190,232,0.2);
	color: #313131;
	border: none;	
	outline: none;
	&:hover,
	&:focus {
		background-color: #0b5596;
		color: #fff;
		border: none;
		outline: none;
	}
}
.modify-modal-body form.modify-note-form textarea,
.modify-modal-body form.modify-note-form input.link-name,
.aan-modal-body form.edit-link-form textarea,
.aan-modal-body form.edit-link-form input.link-name,
.aan-modal-body form.aan-note-form input.link-name,
.aan-modal-body form.aan-note-form input.textarea,
#theModal .modal-body form.edit-link-form input.edit-input
 {
	color: #313131;
	background-color: rgba(98,190,232,0.2);
	&:focus,
	&:hover {
		color: #fff;
		background-color: #0b5596;
	}
}
#theModal {
	.modal-body {
    background-color: #fff;
		color: #313131;
		form.edit-link-form input.edit-input {
			color: #313131;
			&:focus,
			&:hover {
				color: #fff;
			}
		}
	}
}

// login background homepage
#landing > .visitor1 > form.front-login,
#landing > form,
.sharing {
	background-color: rgba(25,96,174,0.6);
	border-radius: 3px;
	border: 1px solid #fff;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
	h3, h1, p.btm-p {
		color: #fff;
	}
}
// on signup -> Success! Almost there...
#landing-content {
	background-color: rgba(25,96,174,0.6);
}
// login autofill Chrome
#landing > .visitor1 > form input:-webkit-autofill,
#landing > .visitor1 > form input:-webkit-hover,
#landing > .visitor1 > form input:-webkit-focus,
#landing > .visitor1 > form input:-webkit-active,
#landing > form input:-webkit-autofill,
#landing > form input:-webkit-hover,
#landing > form input:-webkit-focus,
#landing > form input:-webkit-active  {
	-webkit-box-shadow: 0 0 0 30px #7999b8 inset !important;
	-webkit-text-fill-color: white !important;
}
#table-page #table-wrap .visitor .visitor2 {
	background-color: rgba(255,255,255,0.3);
}
#table-page #table-wrap .new-intro {
    background-color: rgba(25,96,174,0.6);
    color: #fff;
}

.sharing form input[type=email] {
	background-color: rgba(0,153,204,0.3);
}
.sharing form input[type=email] {
	background-color: rgba(255,255,255,0.8);
	border-top: 1px solid #003f87;
	border-bottom: 1px solid #003f87;
	color: #003f87;
	&::placeholder {
		color: rgba(0,63,135,0.6);
	}
}
.sharing form input[type=submit]:hover {
	background-color: #82c33a;
}
.sharing form .share-note {
	background-color: rgba(0,0,0,0.3);
}
.sharing h2.edit-share,
.sharing form.edit-user,
.sharing form .share-note {
	color: #fff;
}

.sharing form p,
#table-page #project-wrap .sharing h1 {
	color: #fff;
	margin-bottom: 0.5em;
}
// login button
#landing>.visitor1>form>input.submit, #landing>form>input.submit {
	background-color: rgba(130,195,58,1);
	&:hover {
		background-color: rgba(105,156,47,1);
	}
}
// anchor on current_project_not_found.php
a.go {
	color: #fff;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
// primary navigation
nav > ul li > a,
a.logout {
	color: #fff;
	background-color: rgba(11,85,150,1);
  background-color: #4978ad;
	&:hover {
		background-color: rgba(11,85,150,1);
	}
}
.menuitem {
		/* width */
	::-webkit-scrollbar {
	  width: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	  background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: #063055;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: #1274cb;
	}
}
// page number tabs
.tab-links input {
	border-radius: 0px;
}
.tab-links li input {
	// color: #003f87;
  color: #fff;
	// background-color: #ebf4ff;
  background-color: #8da9cc;
	&:hover {
		color: #fff;
		background-color: #6ab045;
    background-color: #2f77d0;
	}
}
.tab-links li.active input {
	color: #fff;
	// background-color: #003f87;
  background-color: #4978ad;
	// border: 1px solid rgba(145,202,80,1);
}
.dropdown {
	background-color: #4978ad;
}
a.projects-dd {
	background-color: #4978ad;
	&:hover {
		background-color: #4978ad;
	}
}
a.dda {
	background-color: #4978ad;
	&:hover {
		background-color: #052847;
	}
}


//hyperlinks
ul#sortable li.pg1, 
ul#sortable li.pg3, 
ul#sortable a.project-links,  
ul#static-sort li.pg1, 
ul#static-sort li.pg2, 
ul#static-sort li.pg3, 
ul#static-sort a.project-links {
	color: #003f87;
	// background-color: rgba(0,153,204,1);
	background-color: #ebf4ff;
	&:hover {
		// color: #fff;
		// background-color: rgba(0,63,135,1);
    background-color: #d1d9e3;
	}
}

// static section on edit_searches.php
ul#sortablesearch li.static {
	background-color: #fff;
	// color: #fff;
}

ul#sortable li.pg2 {
  background-color: #d9d9d9;
  &:hover {
    background-color: #bdbdbd;
  }
}

// project notes
#table-page #project-wrap .project-details .project-notes {
	background-color: rgba(255,255,255,0.2);
  border: 1px solid #ccc;
}



// background of my_projects bars 
#table-page #project-wrap .review-project {
	background-color: #ebf4ff;
  color: #003f87;
	&:hover {
		background-color: #d1d9e3;
		color: #003f87;
	}
}
#table-page #project-wrap .review-project.active {
	// background-color: #e89e77;
  background-color: #ebf4ff;
	&:hover {
		background-color: #d1d9e3;
	}
}
.project-details { // my_projects -> project details background
	// background-color: rgba(0,153,204,1);
	background-color: #fff;
}



#edit-order-page,
#edit-delete-page #edit-wrap #tab1, 
#edit-delete-page #edit-wrap #tab2, 
#edit-delete-page #edit-wrap #tab3 {
    background-color: #fff;
    background-image: none;
    color: #313131;	
}


#edit-order-page #edit-order-wrap a.op i.fa-edit, 
#edit-order-page #edit-order-wrap a.op i.fa-sort,
#edit-order-page #edit-order-wrap a.op i.fa-fill-drip, 
#edit-order-page #edit-order-wrap a.op i.fa-house-user, 
#edit-order-page #edit-order-wrap a.op i.fa-list-ol {
	color: rgba(0,63,135,1);
	&:hover {
		color: #fff;
	}
}


.project-greeting {
	color: #003f87;
}
// inner_nav - homepage
ul.inner-nav li a {
	color: #003f87;
	&:hover {
		color: #ff5a00; // orange

	}
}
.project-details ul.inner-nav { // inner_nav projects page

	a i.fa-info-circle,
	a i.fa-user-friends,
	a i.fa-minus-circle {
    color: #003f87;
			&:hover {
			color: #ff5a00;
		}	
	}
	a i.fa-minus-circle:hover {
		color: red;
	}

	form {
		display: inline;
		a i.fa-home,
		a i.fa-edit,
		a i.fa-sort,
		a i.fa-fill-drip,
		a i.fa-info-circle,
		a i.fa-user-friends,
		a i.fa-arrows-alt {
      color: #003f87;
			text-decoration: none;
			transition: all 0.2s ease;
			&:hover {
				color: #ff5a00;
			}
		}
	}
}
.project-details ul.inner-nav li a {
// inner_nav projects page needed bc of diff color bkg
	&:hover {
		color: #fff;
	}
}


ul.inner-nav li.project-name span.attn {
	color: red;
}





.tab-links a,
.tab-links a.project-link,
#table-page #project-wrap a.my-nav  {
	color: #003f87;
	&:hover {
		color: #ff5a00;
	}
}
.tab-links a.project-link:hover {
	color: rgba(0,63,135,1);
}
// #table-page #project-wrap .project-details a i.fa-minus-circle {
// 	color: rgba(0,63,135,1);
// }

// delete page
#edit-delete-page #delete-form input[type=text] {
	background-color: rgba(255,255,255,0.6);
	border-bottom: 1px solid red;
}

#edit-content-page #edit-wrap #tab1,
#edit-content-page #edit-wrap #tab2,
#edit-content-page #edit-wrap #tab3 {
    background-color: #fff;
    // background-color: rgba(250,240,203,1);
    // background-image: url("_images/floral-pattern.jpg");
    // background-repeat: repeat;
    // background-attachment: fixed;  
    color: #313131;
}
// edit hyperlinks
#edit-content-page #edit-wrap a.project-links,
#edit-delete-page #edit-wrap a.project-links {
	background-color: rgba(222,44,13,0.5);
	&:hover {
		background-color: rgba(222,44,13,0.9);
	}
}
// + icon inside empty links
ul#static-sort a.project-links.edit-shim {
	color: rgba(255,255,255,0.5);
}
#edit-content-page #edit-wrap {
	// background-color: rgba(255,0,0,0.16);
}
#edit-order-page #edit-order-wrap p.dnd-title a {
	color: #003f87;
	&:hover {
		color: #003f87;
	}
}

// add a note
ul#bottom-search.logged li:last-child {
  // entire row
	// background-color: rgba(251,190,113,1);
  background-color: #ebf4ff;
}
a#add-note {
  // just the button
  color: #003f87;
  background-color: transparent;
  &:hover {
    color: #003f87;
    background-color: #d1d9e3;
  }
}

.project-notes li:nth-child(odd) {
	background-color: #fff;
  .reorder i.fa-arrows-alt,
  a.modify-note,
  a.deletenote {
    color: #ccc;
  }
}
.project-notes li:nth-child(odd) .sec.note a.clipboard {
  color: #9e9e9e;
  &:hover {
    color: #a0cd6f;
  }
}
.project-notes li:nth-child(even) .sec.note a.clipboard {
  color: #9e9e9e;
  &:hover {
    color: #a0cd6f;
  }
}
.project-notes li .sec.note-url a.note-link {
  color: #636363;
}
#sortanote li a.note-link,
.project-notes li .sec.note .norm-copy
 {
  color: #757575;
}
.project-notes li:nth-child(odd) a.modify-note:hover {
  color: #757575;
}

.project-notes li:nth-child(even) {
	background-color: #ebf4ff;
  color: #757575;	
  .reorder i.fa-arrows-alt,
  a.modify-note,
  a.deletenote {
    color: #757575;
  }
  a.deletenote:hover {
    color: #ff5656;
  }
  a.modify-note:hover {
    color: #313131;
  }
}
.project-notes {
  color: #a7a7a7;
}

// .project-notes li a.deletenote {
// 	color: rgba(255,255,255,0.6);
// }
// .project-notes li:nth-child(even) a.deletenote {
// 	color: #ccc;
// }
#edit-deets {
	// background-color: rgba(0,153,204,1);
  background-color: #ccc;
	color: #636363;
	.btn-wrap a.cancel-deets {
		background-color: rgba(11,85,150,1);
		&:hover {
			background-color: rgba(15,121,214,1);
		}
	}
  input,
  textarea {
    color: #636363;
    background-color: #d6d6d6;
  }
}
li.google {
	// background-color: rgba(66,132,247,1);
  background-color: #72a3f7;
}
li.url {
	// background-color: rgba(84,85,87,1);
  background-color: #7c7d80;
	::placeholder {
		color: #313131;
	}
}
li.bing {
	// background-color: rgba(141,198,63,1 );
  background-color: #9dc761;
}
li.reference {
	// background-color: rgba(0,36,139,1);
  background-color: #496ac4;
}
li.youtube {
	// background-color: rgba(255,0,0,1);
  background-color: #e62222;
}
#google,
#url,
#bing,
#reference,
#youtube {
	.go-btn {
	background-color: rgba(130,195,58,1);
		&:hover {
		background-color: rgba(170,252,76,1);
		}	
	}
	input[type=text] {
		background-color: rgba(255,255,255,0.5);
		// color: rgba(49,49,49,1);
    color: #313131;
		// &::placeholder {
		// 	color: red;
		// }
	}
}
footer {
	background-color: rgba(43,61,80,1);
}
footer button#toggle-contact-form:hover {
	background-color: rgba(0,0,0,0.2);
}
span#status {
  color: #313131;
}
ul.inner-nav li.project-name a.tabs.tab-links.show-notes input {
  color: #003f87;
  transition: all 0.2s ease;
  &:hover {
    color: #ff5a00;
  }
}
ul.inner-nav li.project-name a.tabs.tab-links.show-notes .noteson {
  color: #ff5a00;
}
a.td {
  background-color: #ebf4ff;
  color: #003f87;
  &:hover {
    color: #fff;
    background-color: #82c33a;
  }
  &.selected {
    color: #fff;
  }
}